<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Signal_Me.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" autoReload="true">

    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
    <variable name="HeaderLayout" value="&#xD;&#xA;********************************************************************************************&#xD;&#xA;                Application: ${gdc:item=appname}, Version: ${gdc:item=version}&#xD;&#xA;********************************************************************************************&#xD;&#xA;&#xD;&#xA;----------------- Logging started on ${longdate} -----------------${newline}${newline}"




                                                                                       />
    <targets>
      <target name="file-debug"
     xsi:type="File"
     layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:${exception:format=ToString,StackTrace}${newline}inner exception is as follows${newline}${exception:innerformat=ToString,StackTrace:maxInnerExceptionLevel=5}${newline}}"
     fileName="${basedir}/logs/Log.Debug.Current.txt"
     archiveFileName="${basedir}/logs/archives/Log.Debug.{#}.txt"
     archiveEvery="Day"
     archiveNumbering="Rolling"
     createDirs="true"
     maxArchiveFiles="5"
     concurrentWrites="true"
     keepFileOpen="false"
     encoding="iso-8859-2"
     header="${HeaderLayout}"
     footer="${newline}${newline}----------------- Logging finished on ${longdate} -----------------${newline}"/>
    </targets>
    <targets>
      <target name="file-info"
     xsi:type="File"
     layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:${exception:format=ToString,StackTrace}${newline}inner exception is as follows${newline}${exception:innerformat=ToString,StackTrace:maxInnerExceptionLevel=5}${newline}}"
     fileName="${basedir}/logs/Log.Info.Current.txt"
     archiveFileName="${basedir}/logs/archives/Log.Info.{#}.txt"
     archiveEvery="Day"
     archiveNumbering="Rolling"
     createDirs="true"
     maxArchiveFiles="5"
     concurrentWrites="true"
     keepFileOpen="false"
     encoding="iso-8859-2"
     header="${HeaderLayout}"
     footer="${newline}${newline}----------------- Logging finished on ${longdate} -----------------${newline}"/>
    </targets>
    <targets>
      <target name="file-fatal"
     xsi:type="File"
     layout="${message}"
     fileName="${basedir}/logs/Log.Fatal.Current.txt"
     archiveFileName="${basedir}/logs/archives/Log.Fatal.{#}.txt"
     archiveEvery="Day"
     archiveNumbering="Rolling"
     createDirs="true"
     maxArchiveFiles="5"
     concurrentWrites="true"
     keepFileOpen="false"
     encoding="iso-8859-2"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file-debug"/>
      <logger name="*" minlevel="Info" writeTo="file-info"/>
      <logger name="*" minlevel="Fatal" writeTo="file-fatal"/>
    </rules>
  </nlog>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Signal_Me.My.MySettings>
            <setting name="WithAPI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WithoutAPI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FromFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
        </Signal_Me.My.MySettings>
    </userSettings>
</configuration>