<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Signal_Me.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Signal_Me.My.MySettings>
            <setting name="WithAPI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WithoutAPI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FromFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
        </Signal_Me.My.MySettings>
    </userSettings>
</configuration>